In [11]:
#topic __________________LOOPS

In [12]:
#use of FOR loop

In [13]:
for ingredient in "sugar","milk","tea leaves":
    print ("Put" , ingredient, "in")

Put sugar in
Put milk in
Put tea leaves in

In [14]:
for i in range(1,11):
    print (i) 
print("done")

1
2
3
4
5
6
7
8
9
10
done

In [ ]:
#use of while loop

In [6]:
n = 0.13
while n < 1:
    print (n) 
    n = n + 0.13

#print n
print("Done")

0.13
0.26
0.39
0.52
0.65
0.78
0.91
Done

In [ ]:
#another example made by me

In [10]:
n = 2
while n < 20:
    print (n) 
    n = n + 2

#print n
print("Done")

2
4
6
8
10
12
14
16
18
Done

In [16]:
#we can also count how many there were by savng the count

In [26]:
n = 0.13
i = 0    #our counter variable

while n < 1:
    i = i + 1
    print ("This is our multiple # " , i)
    print (n)
    n = n + 0.13
    


print (i) 
print (n)

This is our multiple #  1
0.13
This is our multiple #  2
0.26
This is our multiple #  3
0.39
This is our multiple #  4
0.52
This is our multiple #  5
0.65
This is our multiple #  6
0.78
This is our multiple #  7
0.91
7
1.04

In [ ]:
#This is called infinite loop

In [ ]:
n = 0.13
i = 0    #our counter variable

while n < 1:
    print (n)
    
print (i) 
print (done)